@font-face {
    font-family:"CityBirds";
    src: url("../font/city_birds.ttf") format('truetype');
}

img {
    border: none !important;
    box-shadow: none !important;
    margin: none !important;
    background: none !important;
}

.handwrite {
	font-family: 'CityBirds' !important;
	font-size: 40px !important;
	line-height: 65px !important;
	color: #13DAEC;
	margin: 0 !important;
	padding: 0 !important;
}

.bar1 {
	background-color: #13DAEC;
}

.bar2 {
	background-color: #FF5E99;
}

.eventloop-table {
    display: table;
    width: 100%;
}
.eventloop-column {
    display: table-cell;
    text-align: center;
    width: 50%;
    padding: 20px !important;
}
.eventloop-stack-title {
    color: #f0ad4e;
}
.eventloop-stack {
    border: 4px solid #eea236 !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
}
.eventloop-stack > div {
    margin: 10px !important;
    border: 4px solid #f0ad4e !important;
    background-color: #f0ad4e;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
}
.eventloop-webapi-title {
    color: #5cb85c;
}
.eventloop-webapi {
    border: 4px solid #5cb85c !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;  
}
.eventloop-webapi > div {
    margin: 10px !important;
    border: 4px solid #5cb85c !important;
    background-color: #5cb85c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
}
.eventloop-queue-title {
    color: #337ab7
}
.eventloop-queue {
    text-align: left;
    border: 4px solid #337ab7 !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}
.eventloop-queue > div {
    margin: 10px !important;
    display: inline;
    border: 4px solid #337ab7 !important;
    background-color: #337ab7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
    padding: 5px !important;
}
.eventloop-alert {
    float: right;
    margin: 0 10px 0 0 !important;
    padding: 0 5px !important;
    background-color: #d9534f;
    border: 4px solid #d9534f !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}